.App {
  text-align: center;
}
.banner {
  background-image: url('C:\Users\Ian\Downloads\image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 input[type="text"]{
 width: 450px;
 height: 30px;
 border-radius: 5px;
 border: 2px solid orangered;
}
input[type="text"]:focus{
  outline-color:orangered ;
  outline-width: 2px;
}
.leaflet-container {
  width: 100%;
  height: 70vh;
}